.saxKeyClass {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.notes {
  margin-left: 50%;
}

.palmKeys {

}

.palm-key-class {
  margin-left: 4em;
  margin-top: 0.5em;
}
.palm-key-class:nth-child(1) {
  margin-left: 5.5em;
  margin-top: 3em;
}
.palm-key-class:nth-child(2) {
  margin-left: 4em;
  margin-top: 5.5em;
}
