.outer-container {
  padding: 3em 2em 2em 3em;
}

.title {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.container {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frontKeyClass {
  display: flex;
  margin-left: 1em;
  flex-direction: column;
  margin-bottom: 5px;
  border: 2px solid gold;
  padding: 20px;
  border-radius: 50%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.high-Fsharp-key {
  margin-left: -1em;
  margin-top: 17em;
  position: absolute;
  width: 14px;
  height: 38px;
  border-radius: 30% 30% 30% 30%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border: 2px solid gold;
}

.high-G-key {
  width: 15px;
  height: 22px;
  margin-left: 1.5em;
  margin-top: -0.6em;
  background-color: whitesmoke;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  position: absolute;
  transform: rotate(45deg);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid gold;
  z-index: 2;
}

.alternate-Fsharp-key {
  margin-left: -1.1em;
  margin-top: 20em;
  position: absolute;
  width: 18px;
  height: 30px;
  border-radius: 20% 20% 20% 20%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border: 2px solid gold;
}

.Ebcontainer {
  width: 50px;
  height: 25px;
  overflow: hidden;
  margin-top: 1.8em;
  margin-left: 0.8em;
}
.ebClass {
  border: 2px solid gold;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(to top, #ffffff, #e0e0e0);
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
}

.cContainerClass {
  width: 50px;
  height: 25px;
  overflow: hidden;
  margin-top: 4px;
  margin-left: 0.8em;
}

.cKeyClass {
  border: 2px solid gold;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-top: -25px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.notes {
  margin-left: 50%;
}

.palm-keys {
  margin-left: 1.6em;
}
.palm-key-class {
  margin-left: 4em;
  margin-top: 0.5em;
  width: 25px;
  height: 45px;
  border-radius: 50% 50% 50% 50%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border: 2px solid gold;
  position: absolute;
}
.palm-key-class:nth-child(1) {
  margin-left: 5.5em;
  margin-top: 3em;
}
.palm-key-class:nth-child(2) {
  margin-left: 4em;
  margin-top: 5.5em;
}

.side-keys {
  margin-left: -0.7em;
}

.side-key-class {
  margin-left: -2em;
  margin-top: 10em;
  position: absolute;
  width: 12px;
  height: 35px;
  border-radius: 30% 30% 30% 30%;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border: 2px solid gold;
}
.side-key-class:nth-child(1) {
  margin-left: -2em;
  margin-top: 13em;
}
.side-key-class:nth-child(2) {
  margin-left: -2em;
  margin-top: 16em;
}

.patch-keys {
  margin-left: 1.5em;
}

.patch-key-class {
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  border: 2px solid gold;
  position: absolute;
}

.patch-key-class:nth-child(1) {
  margin-left: 4em;
  margin-top: 15em;
  width: 50px;
  height: 20px;
  border-radius: 50% 50% 10% 10%;
}
.patch-key-class:nth-child(2) {
  margin-left: 4em;
  margin-top: 16.6em;
  width: 23px;
  height: 13px;
  border-radius: 25%;
}
.patch-key-class:nth-child(3) {
  margin-left: 5.7em;
  margin-top: 16.6em;
  width: 23px;
  height: 13px;
  border-radius: 25%;
}
.patch-key-class:nth-child(4) {
  margin-left: 4em;
  margin-top: 17.7em;
  width: 50px;
  height: 20px;
  border-radius: 10% 10% 50% 50%;
}

.octave-key {
  margin-left: -2rem;
  position: absolute;
  margin-top: 3.8rem;
  width: 17px;
  height: 25px;
  border-radius: 50% 50% 10% 10%;
  background: linear-gradient(to bottom, #ffffff, #f0ecec);
  border: 2px solid gold;
}

.biss-key {
  margin-left: 1.2em;
  position: absolute;
  margin-top: 2.9rem;
  height: 30px;
  width: 30px;
  border-radius: 50% 50% 50% 50%;
  background: linear-gradient(to bottom, #ffffff, #f0ecec);
  border: 2px solid gold;
}

.root {
  margin-left: 10%
}
